.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 120px;
  background: #266AD9;
  z-index: 1000;

  transition: transform 0.3s ease;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
