/* ================= SECTION ================= */

.mc_section {
  width: 100%;
  padding: 40px 24px;
  background: #262E34;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 0;
}

/* ================= TOP ================= */

.mc_top {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* TITLE */

.mc_title {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

/* DESCRIPTION */

.mc_description {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
  text-align: justify;
}

/* ================= BOTTOM ================= */

.mc_bottom {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* SUBTITLE */

.mc_subtitle {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}

/* ================= CONTACT ITEMS ================= */

.mc_contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mc_item {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

/* ICON (بدون دایره) */

.mc_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mc_icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* TEXT */

.mc_text {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

/* LINK */

.mc_link {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: underline;
}

/* HOVER */

.mc_link:hover {
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
}

.mc_item:hover .mc_icon img {
  filter: brightness(1.3);
}
