.footer {
  width: 1440px;
  height: 463px;
  padding-top: 120px;
  padding-bottom: 120px;

  background: #262E34;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

/* Arrow button */

.arrowButton {
  width: 40px;
  height: 90px;
  padding: 0px;
  border: none;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.arrowIcon {
  width: 40px;
  height: 90px;
}

.arrowBorder {
  stroke: white;
  fill: transparent;
  transition: all 0.5s ease-out;
}

.arrowPath {
  fill: white;
  transition: all 0.3s ease-out;
}

.arrowButton:hover .arrowBorder {
  fill: rgba(248, 245, 236, 0.2);
}

.arrowButton:hover .arrowPath {
  fill: white;;
}

/* Footer text */

.content {
  width: 145px;
  height: 53px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  font-family: "Quicksand";
  font-size: 15px;
  color: #FFFFFF;
  white-space: nowrap;
}

.content p:last-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: default;
}

.content a:hover {
  text-decoration: underline;
}
