.skillsSection {
  width: 1440px;
  height: 929px;
  padding: 72px 120px;
  background: #1E2A34;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  width: 504px;
  height: 77px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin: 0;
  margin-top: -60px;
}

.section {
  padding-top: 40px;
}

.groupsWrapper {
  width: 1199px;
  height: 668px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.row {
  display: flex;
  gap: 34px;
}

.card {
  width: 377px;
  height: 200px;
  padding: 42px 71px;
  border-radius: 30px;
  background: rgba(145, 201, 243, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: default;
  transition: background 0.3s ease, transform 0.3s ease;
}

.card:hover {
  background: #79B8FF80;
  transform: translateY(-6px);
}

.icon {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  object-fit: contain;
  object-position: center;

  transform: translateY(-15px);  /* بالا آمدن آیکن */
  z-index: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .icon {
  opacity: 0;
}

.hoverList { /* توضیحات هر اسکیل*/
  font-family: Quicksand;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;

  margin: 0;
  padding-left: 18px;
  list-style: disc;

  color: #FFFFFF;

  text-align: left;
}

.hoverList li {
  margin-bottom: 6px;
}

.card:hover .hoverList {
  opacity: 1;
}

.skillName {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  margin: 0;
  transition: opacity 0.3s ease;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  width: 80%;
  text-align: center;
  word-break: break-word;
  z-index: 2;
  white-space: pre-line;
}

.card:hover .skillName {
  opacity: 0;
}

.hoverContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: left;
  opacity: 0;                 /* مهم */
  pointer-events: none;       /* اضافه شود */
  z-index: 2;
  transition: opacity 0.3s ease;
}

.card:hover .hoverContent {
  opacity: 1;
}

.hoverIntro {     /* مربوط به How I used this skills */
  margin: 0 0 8px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: left;
  
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
