.skillsSection{
width:100%;
background:#1E2A34;
padding:72px 0;
display:flex;
flex-direction:column;
align-items:center;
}

.title{
width:1200px;
font-family:'Quicksand',sans-serif;
font-weight:700;
font-size:64px;
line-height:120%;
color:#FFFFFF;
margin-bottom:40px;
}

/* ---------------- DESKTOP ---------------- */

.groupsWrapper{
width:1200px;
display:flex;
flex-direction:column;
gap:34px;
}

.row{
display:flex;
gap:34px;
}

.card{
width:377px;
height:200px;
padding:42px 71px;
border-radius:30px;
background:rgba(145,201,243,0.1);

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

gap:18px;

position:relative;
overflow:hidden;
cursor:default;
transition:background .3s ease, transform .3s ease;
}

.card:hover{
background:#79B8FF80;
transform:translateY(-6px);
}

.icon{
width:85px;
height:85px;
object-fit:contain;
transition:opacity .3s ease;
}

.skillName{
color:#FFFFFF;
font-family:Quicksand;
font-weight:500;
font-size:18px;
text-align:center;
line-height:120%;
white-space:pre-line;
transition:opacity .3s ease;
}

.hoverContent{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:75%;
opacity:0;
transition:opacity .3s ease;
text-align:left;
}

.hoverIntro{
font-family:Quicksand;
font-size:24px;
font-weight:500;
color:#FFFFFF;
margin-bottom:8px;
}

.hoverList{
font-family:Quicksand;
font-size:16px;
line-height:120%;
padding-left:18px;
color:#FFFFFF;
}

.card:hover .hoverContent{
opacity:1;
}

.card:hover .icon{
opacity:0;
}

.card:hover .skillName{
opacity:0;
}

.carousel{
display:none;
}

.pageIndicator{
display:none;
}

/* ---------------- MOBILE ---------------- */

@media (max-width:768px){

.groupsWrapper{
display:none;
}

.carousel{
display:flex;
}

.pageIndicator{
display:flex;
}

.title{
width:100%;
font-size:40px;
padding-left:48px;
margin-bottom:48px;
}

.carousel{
display:flex;
overflow-x:auto;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
}

.slide{
min-width:100%;
display:flex;
justify-content:center;;
scroll-snap-align:start;
padding-left:0px;
}

.mobileCard{
width:340px;
height:388px;
background:#266AD91A;
border-radius:30px;
padding:16px 12px;
display:flex;
flex-direction:column;
gap:16px;
margin-right: 8px;
margin-left: 12px;
}

.skillRow{
display:grid;
grid-template-columns:60px 1fr;
column-gap:16px;
align-items:start;
}

.iconColumn{
width:70px;
display:flex;
flex-direction:column;
align-items:center;
}

.mobileIcon{
width:45px;
height:45px;
object-fit:contain;
margin-bottom:8px;
margin-top: 8px;

}

.mobileName{
font-family:Quicksand;
font-size:15px;
font-weight:500;
text-align:center;
line-height:1.1;
}

.mobileList{
font-family:Quicksand;
font-size:15px;
line-height:120%;
padding-left:12px;
padding-right: 8px;
margin:0;
display:flex;
flex-direction:column;
gap:4px;
color:white;
}

/* indicator */

.pageIndicator{
display:flex;
justify-content:center;
gap:10px;
margin-top:16px;
}

.dot{
width:10px;
height:10px;
background:#738398;
border-radius:50px;
}

.activeDot{
width:18px;
height:10px;
background:white;
}

}
